<% @data = Stripe::Customer.all %>

<%= @data["count"]%> Total Customers
<br><br>


<table>
  <% @data["data"].each do |customer| %>
	  <tr>
		  <td>
			  <%= customer["description"] %>
		  </td>
		  <td>
			  <%= customer["created"] %>
		  </td>
		  <td>
			  <%= customer["subscription"]["status"] %>
		  </td>
		  <td>
			  <%= customer["subscription"]["plan"]["name"] %>
		  </td>
		  <td>
			  <%= customer["subscription"]["plan"]["interval_count"] %>
		  </td>
		  <td>
			  <%= link_to "history", plan_subscription_history_path(customer["subscription"]["plan"]["id"], customer["id"]) %>
		  </td> 
		  <td>
			  <%= link_to "delete", plan_subscription_delete_path(customer["subscription"]["plan"]["id"], customer["id"]) %>
		  </td>

	  </tr>
  <% end %>
</table>
